/* Ajustes generales */
body {
  font-family: 'Nunito', sans-serif;
}

/* Ajustes específicos */
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
}

@media (max-width: 767.98px) {
  .sidebar {
    display: none;
  }
}
